@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-geist);
  --animate-countdown: countdown linear forwards;

  @keyframes countdown {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
}
